<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    # Reescribir la linea para cada instalacion en particular
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
